<!DOCTYPE html>
<html>
<head>
 	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>簡易留言板</title>
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div class="jumbotron text-center">
      	<h1>留言吧</h1>
      	<p>Tell me what you want to say!</p> 
    </div>
    <nav class="navbar navbar-inverse">
      	<div class="container-fluid">
        	<div class="navbar-header">
          		<a class="navbar-brand">Welcome</a>
        	</div>
	        <ul class="nav navbar-nav">
	            <li class="active"><a href="/message/board/showmessage">Home</a></li>
                <li><a href="#" onclick="window.open('/message/board/leavemessage', '留言吧', config='height=500,width=500');">我要留言</a></li>
            {{if $authority == 2}}
                <li><a href="/member/data/editmemdata">修改會員資料</a></li>
            {{else}}
	            <li><a href="/member/data/membermgmt">會員管理</a></li> 
            {{/if}}
	            <li><a href="/login/userlogin/logout">Log out</a></li>
	        </ul> 
	    </div>
    </nav>
	<form method="POST" align="center">
		<h2>會員資料修改</h2>
		<div class="container">
			<table class="table table-bordered">		
				<tr>
					<td>姓名</td>
					<td><input type="text" class="form-control" name="name" value="{{$memberdata.MemberName}}"></td>
				</tr>
				<tr>
					<td>密碼</td>
					<td><input type="password" class="form-control" name="password" value="{{$memberdata.Password}}"></td>
				</tr>
				<tr>
					<td>密碼確認</td>
					<td><input type="text" class="form-control" name="ckpassword"></td>
				</tr>
			</table>
		</div>
		<p>
		<input type="submit" value="確認" class="btn btn-info">
	</form>			
</body>