<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>簡易留言板</title>
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/vendor/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/vendor/js/member/member.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
      	<h1>留言吧</h1>
      	<p>Tell me what you want to say!</p> 
    </div>
    <nav class="navbar navbar-inverse">
      	<div class="container-fluid">
        	<div class="navbar-header">
          		<a class="navbar-brand">Welcome</a>
        	</div>
	        <ul class="nav navbar-nav">
	            <li class="active"><a href="/message">Home</a></li>
	            <!--<li><a href="#" onclick="window.open('leave_message_UI.php', '留言吧', config='height=500,width=500');">我要留言</a></li>-->
                <li><a href="#" onclick="window.open('/leavemessage', '留言吧', config='height=500,width=500');">我要留言</a></li>
            {{if $authority == 2}}
                <li><a href="/editmemdata">修改會員資料</a></li>
            {{else}}
	            <li><a href="/membermgmt">會員管理</a></li> 
            {{/if}}
	            <li><a href="/logout">Log out</a></li>
	        </ul> 
	    </div>
    </nav>
	<div class="container">  
		<table class="table table-striped">	
			<thead>
	      		<tr>
				    <th>會員姓名</th>
				    <th>帳號</th>
				    <<!-- th>密碼</th> -->
				    <th>刪除會員</th>
			    </tr>
    		</thead>
	{{foreach from=$memberlist item=item}}
			<tbody>
				<td>{{$item.MemberName}}</td>
				<td>{{$item.Username}}</td>
				<!-- <td>{{$item.Password}}</td> -->
				<td><button class="btn btn-info" onclick="mem_delete({{$item.MemberID}})">刪除</button></td>
			</tbody>
	{{/foreach}}
		</table>
	</div>
</body>