<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>留言吧</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="/assets/vendor/js/jquery.js"></script>
    <script type="text/javascript" src="/assets/vendor/js/message/message.js"></script>
</head>
<body>
	<div class="jumbotron text-center">
      	<h1>留言吧</h1>
      	<p>Tell me what you want to say
        <a href="/login/userlogin/register?identity=manager">!</a></p> 
    </div>
    <nav class="navbar navbar-inverse">
      	<div class="container-fluid">
        	<div class="navbar-header">
          		<a class="navbar-brand">Welcome</a>
        	</div>
	        <ul class="nav navbar-nav">
	            <li class="active"><a href="/message/board/showmessage">Home</a></li>
                <li><a href="#" onclick="window.open('/message/board/leavemessage', '留言吧', config='height=500,width=500');">我要留言</a></li>
            {{if $authority == 2}}
                <li><a href="/member/data/editmemdata">修改會員資料</a></li>
            {{else}}
	            <li><a href="/member/data/membermgmt">會員管理</a></li> 
            {{/if}}
	            <li><a href="/login/userlogin/logout">Log out</a></li>
	        </ul>
            <form method="post" align="right">
                <input type="text" name="keyword">
                <select name="searchKind">
                    <option value="Name">留言者姓名</option>
                    <option value="Subject">留言主題</option>
                    <option value="Content">留言內容</option>
                </select>
                <input type="submit" class="btn btn-default" value="搜尋"><p>
            </form> 
	    </div>
    </nav>
{{foreach from=$messagelist item=item}}
    <div class="container">
        <div class="media">
            <div class="media-left">
                <img src="userImage.png" class="media-object" style="width:60px">
            </div>
            <div class="media-body">
                <h4 class="media-heading">{{$item.Name}}&nbsp;&nbsp;<small><i>Posted on &nbsp;{{$item.LeaveTime}}</i></small></h4>
                <p>{{$item.Subject}}</p>
                <p>{{$item.Content}}</p>
                <ul class="pager">
            {{if $authority == 2}}
                {{if $membername == $item.Name}}
                    <li style="visibility:visible"><a href="#" onclick="window.open('editmessage?id={{$item.MessageID}}', '留言吧', config='height=500,width=500');">編輯</a></li>
                {{else}}
                    <li style="visibility:hidden;"><a href="message/board/editmessage?id={{$item.MessageID}}">編輯</a></li>
                {{/if}}
            {{else}}
                    <li id="reply"><a href="#" onclick="window.open('replymessage?id={{$item.MessageID}}', '留言吧', config='height=500,width=500');"">回覆</a></li>
                    <li id="li_msgDel" onclick="msg_delete({{$item.MessageID}})"><a href="#">刪除</a></li>
            {{/if}}
                </ul> 
    {{if isset($item.ReplyContent)}}
            <!-- Nested media object -->
                <div class="media">
                    <div class="media-left">
                        <img src="AdminImage.png" class="media-object" style="width:60px">
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">管理者回覆 &nbsp;&nbsp;<small><i>Posted on &nbsp;{{$item.ReplyTime}}</i></small></h4>
                        <p>{{$item.ReplyContent}}</p>
                    </div>
                </div>
                <br />
                <br />
    {{/if}}
                
            </div>
        </div>
    </div>
{{/foreach}}

    <div align="center">
        <ul class="pagination">
            <li id="pfirst"><a href="/message/board/showmessage?pagenum=1">&laquo;&laquo;</a></li>
        {{for $page = $left to $right}}
            <li id="{{$page}}"><a href="/message/board/showmessage?pagenum={{$page}}">{{$page}}</a></li>
        {{/for}}
            <li id="plast"><a href="/message/board/showmessage?pagenum={{$pages}}">&raquo;&raquo;</a></li>
        </ul>
    </div> 
</body>